<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sjoerd Brussee">

    <title>AI Impact Monitor — Comprendi la tua impronta digitale</title>
    <meta name="description"
        content="Scopri come i modelli di intelligenza artificiale percepiscono e utilizzano i tuoi dati. Analizza la tua presenza digitale con AI Impact Monitor.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ai-monitor.madebyshu.net">
    <meta property="og:title" content="AI Impact Monitor — La tua impronta digitale">
    <meta property="og:description"
        content="Scopri come i modelli di AI vedono i tuoi dati. Analizza la tua impronta digitale in modo semplice e veloce.">
    <meta property="og:image" content="https://ai-monitor.madebyshu.net/static/images/icons/logo-text.webp">
    <meta property="og:site_name" content="AI Impact Monitor">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="AI Impact Monitor — La tua impronta digitale" />
    <meta name="twitter:description"
        content="Analizza come l'intelligenza artificiale interpreta la tua presenza online." />
    <meta name="twitter:image" content="https://ai-monitor.madebyshu.net/static/images/icons/circle-logo.webp" />
    <meta name="twitter:image:alt" content="Logo di AI Impact Monitor" />

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', path='/images/icons/apple-touch-icon.png' ) }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', path='/images/icons/favicon-32x32.png' ) }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', path='/images/icons/favicon-16x16.png' ) }}">

    <link rel="manifest" href="{{ url_for('static', path='/images/icons/site.webmanifest') }}">
    <link rel="canonical" href="https://ai-monitor.madebyshu.net">

    <link href="{{ url_for('static', path='/stylev5.css') }}?v={{ version }}" rel="stylesheet">
</head>